.safeKid_bg {
  background-image: linear-gradient(#000000d5, #0000009f),
    url(/public/img/green-4668534_1920.jpg);
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .safeKid_bg {
    padding: 20px 10px;
  }
}
