.invest_bg {
  background-image: url(/public/img/Oscillo\ Full\ Site\ New.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
