.invest_bg {
  background-image: url(/public/img/Oscillo\ Full\ Site\ New.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .invest_cont {
    position: inherit;
    width: 100%;
  }
  .invest_parent {
    flex-direction: column;
  }
}
