.react-tabs__tab-panel--selected {
  display: flex;
}
.tab_box {
  width: 45%;
  margin: 20px 0;
}
@media (max-width: 575px) {
  .tab_panell {
    display: block;
    padding: 0 10px;
  }
  .tab_box {
    width: 100%;
  }
}
