@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Bruno Ace SC", cursive;
}
p {
  font-family: "Poppins", sans-serif;
}
.Toastify__toast-theme--light {
  background-color: black !important;
  color: #fff !important;
}
